<nav role="navigation" class="sidebar sidebar--right">
  <div class="textLogo textLogo--sidebar">{{ site.name }}</div>
  <ul class="sidebar-recentPosts">
    <hr>
    {% for post in site.posts offset:0 limit:10 %}
      {% if post.title == page.title %}
        <!-- exclude current post -->
      {% else %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <div class="postMeta">{{ post.date | date_to_string }} &bull; {{ post.categories }}</div>
      </li>
      {% endif %}
    {% endfor %}
      <hr>
      <li>
        <a href="{{ site.baseurl }}about/">about</a>
      </li>
  </ul>
</nav>
